<div class="modal fade" id="msg-<%= message.id %>-replyModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= close_button('modal') %>
        <h4 class="modal-title" id="messageModalLabel">New message</h4>
      </div><!-- modal header end -->
      <div class="modal-body">

        <%= form_for Message.new, remote: true, html: { role: "form", id: "msg-#{message.id}-replyForm" } do |f| %>
          <div class="form-group">
            <%= f.label :recipient_id, "Recipient:", class: "control-label" %>
            
            <p class="form-control-static">
              <span class="label label-primary"><%= message.sender.username %></span>
            </p>
            <%= f.hidden_field :recipient_id, value: message.sender_id %>
            <%= hidden_field_tag :old_id, message.id %>
          </div>

          <div class="form-group">
            <%= f.label :body, "Message:", class: "control-label" %>
            <%= f.text_area :body, class: "form-control" %>
          </div>

      </div><!-- modal body end-->
      <div class="modal-footer">
          <%= button_tag "Close", class: 'btn btn-default', data: { dismiss: "modal" } %>
          <%= f.submit "Send message", class: "btn btn-primary", id: "msg-#{message.id}-replySubmit" %>
        <% end %>

        <script type="text/javascript">
          $('#msg-<%= message.id %>-replySubmit').click(function(ev){
            ev.preventDefault();
            $('#msg-<%= message.id %>-replyForm').trigger('submit.rails');
          });
        </script>
      </div><!-- modal footer end-->
    </div><!-- modal content end-->
  </div><!-- modal dialog end -->
</div><!-- modal end-->


<div class="panel panel-info panel-msg">
  <div class="panel-heading special" id="msg-<%= message.id %>-heading">
    <h3 class="panel-title">
      <span class="pull-left">From: <%= link_to message.sender.username, user_path(message.sender) %></span>
      <span class="pull-right">Sent at: <%= pretty_time(message.created_at) %></span>
      <div class="clearfix"></div>
    </h3>
  </div>

  <div class="panel-body" id="msg-<%= message.id %>-body" style="display: none;">
    <div class="row">
      <div class="col-sm-10 right-border">
        
          <p class="message-wrapper">
            <%= message.body %>
          </p>

          <hr>
          <small><em><span class="quiet"><%= "viewed at #{pretty_time(message.viewed_at)}" if message.viewed_at != nil %></span></em></small>
          <h4>
            <%= button_tag "Reply" , class: "label label-primary", data: { toggle: "modal", target: "#msg-#{message.id}-replyModal" } %>
          </h4>
          
      </div>
    <div class="col-sm-2">
        <span data-toggle="popover" data-placement="bottom" data-content="Mark message as read/unread." class="mark-read">
          <%= link_to read_message_path(message, read: mark_read), method: "post", remote: true do %>
            <i class="fa fa-eye fa-lg"></i>
          <% end %>     
        </span>
        
        <span data-toggle="popover" data-placement="bottom" data-content="Delete message." class="mark-delete">
          <%= link_to message_path(message), method: "delete", remote: true do %>
            <i class="fa fa-trash fa-lg"></i>
          <% end %>
        </span>
        
    </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $('#msg-<%= message.id %>-heading').click(function(){
    $('#msg-<%= message.id %>-body').slideToggle('slow');
  });
 
  // $(document).on('click', '#msg-<%= message.id %>-heading', function(){
  //   $('#msg-<%= message.id %>-body').slideToggle('slow');
  // });
</script>

