<div class="modal fade" id="new_messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= close_button('modal') %>
        <h4 class="modal-title" id="messageModalLabel">New message</h4>
      </div><!-- modal header end -->
      <div class="modal-body">

        <%= form_for Message.new, remote: true, html: { role: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :recipient_id, "Recipient:", class: "control-label" %>
            
            <p class="form-control-static">
              <span class="label label-primary"><%= recipient.username %></span>
            </p>
            <%= f.hidden_field :recipient_id, value: recipient.id %>
          </div>

          <% if project %>
            <%= hidden_field_tag :project_id, project.id %>
          <% end %>

          <div class="form-group">
            <%= f.label :body, "Message:", class: "control-label" %>
            <%= f.text_area :body, class: "form-control" %>
          </div>

      </div><!-- modal body end-->
      <div class="modal-footer">
          <%= button_tag "Close", class: 'btn btn-default', data: { dismiss: "modal" } %>
          <%= f.submit "Send message", class: "btn btn-primary" %>
        <% end %>
      </div><!-- modal footer end-->
    </div><!-- modal content end-->
  </div><!-- modal dialog end -->
</div><!-- modal end-->

