<li class="dropdown">
  <%= link_to '#', class: "dropdown-toggle", role: "button", data: { toggle: "dropdown" }, aria: { expanded: "false" } do %>
    Sign In  <span class='glyphicon glyphicon-collapse-down'></span>
  <% end %>
  <div class="dropdown-menu signin" role='menu'>
    <fieldset class="signin">
      <%= form_tag '/login', html: { class: "form-horizontal", role: 'form' } do %>
        <div class='form-group'>
          <%= text_field_tag :username, '' , placeholder: "Enter username", class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= password_field_tag :password, '', placeholder: "Password", class: "form-control" %>
        </div>
        <%= button_tag :submit, class: "form-control btn btn-primary" do %>
          <span class="glyphicon glyphicon-log-in"></span> Let me in!
        <% end %>
                
      <% end %>
    </fieldset>
  </div>
</li>