<section class="wrapper">
  <%= render 'shared/content_title', title: "Project portfolio" %>

  <div class="row">
    <% current_user.projects.each do |project| %>
      <div class="col-sm-3">
        <%= link_to management_project_path(project), class: "thumbnail" do %>
          
          <span class="portfolio-project-image">
            <% if project.image_url.blank? %>
              <h1>No picture</h1>

            <% else %>
              <img src="<%= project.image_url %>" alt="<%= project.title %>" height="150" width="100%"/>
            <% end %>
          </span>
          

          <ul class="no-list project-info">
            <li>Project: <%= project.project_name %></li>
            <li>Status: <%= project.status %></li>
          </ul>

        <% end %>
      </div>
    <% end %>
  </div>

</section>