<% row_disappear ||= "no" %>
<tr id="job-row-<%= job.id %>">
  <td><%= job.id %></td>
  <td><%= job.name %></td>
  <td><%= job.description %></td>
  <td>
    <span class="pull-left" id="job-status-<%= job.id %>">
      <%= job.status %>
    </span>
    <span class="pull-right">
      <% if job.status != "completed" %>
        <%= link_to "Mark as completed", done_project_job_path(job.project, job, row_disappear: row_disappear), id: "job-#{job.id}-mark-as-completed", class: "label label-warning", role: "button", method: "post", remote: true %>
      <% end %>      
    </span>
    <div class="clearfix"></div>
  </td>
  <td><%= pretty_date(job.deadline) %></td>

  <% if (current_user == job.project.manager) %>
  <td>
    <div class='panel'>
      <%= link_to "Edit", edit_project_job_path(job.project, job), class: "badge" %>
      <%= link_to "Delete", project_job_path(job.project, job), method: "delete", remote: true, class: "badge" %>
    </div>
  </td>
  <% end %>
</tr>