<section class="wrapper">
  <%= render 'shared/content_title', title: "New job" %>

  <%= render 'shared/errors', obj: @job %>

  <%= form_for [@project, @job], html: { role: "form" } do |f| %>
  
    <%= f.label :user_id, "Assign member:" %>
    <%= f.collection_select :user_id, @project.users, :id, :username, prompt: true %>
    <br>

    <%= f.label :job_name %><br />
    <%= f.text_field :job_name %>
    <br>

    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 3 %>
    <br>

    <%= f.date_select :deadline %>
   
    <br>
    <%= f.submit %>


  <% end %>
</section>