<div class="wrapper">
  <%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
    
  <div class="col-sm-6">
    <div class="well">
      <dl class="row">
        <dt class="col-sm-4">Username</dt>
        <dd class="col-sm-8"><%= @user.username %></dd>
      </dl>
      
      <dl class="row">
        <dt class="col-sm-4">Time zone</dt>
        <dd class="col-sm-8"><%= @user.time_zone %></dd>
      </dl>    

      <% if logged_in? %>
      <dl class="row">
        <dt class="col-sm-4">Contact</dt>
        <dd class="col-sm-8" style="font-size: 15px;">
          <%= button_tag :button, class: "label label-warning", data: { toggle: "modal", target: "#msgModal"} { "Send him a message." } %>
        </dd>
      </dl>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>

  <div class="well" role="tabpanel">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active" id="user-projects-tab">
        <%= link_to "Finished projects", user_path(@user, tab: "projects"), role: "tab", data: { toggle: "tab" }, remote: true %>
      </li>
      <li role="presentation" id="user-comments-tab">
        <%= link_to "Comments", user_path(@user, tab: "comments"), role: "tab", data: { toggle: "tab" }, remote: true %>
      </li>
    </ul>

    <div class="row" id="user-projects">
      <% @user.projects_finished.each do |project| %>
        <div class="col-sm-3">
        <%= link_to project_path(project), class: "thumbnail" do %>
          
          <span class="portfolio-project-image">
            <% if project.image_url.blank? %>
              <h1>No picture</h1>

            <% else %>
              <img src="<%= project.image_url %>" alt="<%= project.title %>" height="150" width="100%"/>
            <% end %>
          </span>

          <ul class="no-list project-info">
            <li>Project: <%= project.title %></li>
            <li>Finished on: <%= pretty_date(project.end_date) %></li>
          </ul>
          <span class="glyphicon glyphicon-heart move-heart">
            <span class="category-likes-count">
              <%= project.total_likes %>
            </span>
          </span>

        <% end %>
        </div>
      <% end %>
    </div>

    <div id="user-comments" style="display: none;">
    </div>
    
  </div>
</div>

<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= close_button('modal') %>
        <h4 class="modal-title" id="messageModalLabel">New message</h4>
      </div><!-- modal header end -->
      <div class="modal-body">

        <%= form_for Message.new, html: { role: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :recipient_id, "Recipient:", class: "control-label" %>
            
            <p class="form-control-static">
              <span class="label label-primary"><%= @user.username %></span>
            </p>
            <%= f.hidden_field :recipient_id, value: @user.id %>
          </div>

          <div class="form-group">
            <%= f.label :body, "Message:", class: "control-label" %>
            <%= f.text_area :body, class: "form-control" %>
          </div>

      </div><!-- modal body end-->
      <div class="modal-footer">
          <%= button_tag "Close", class: 'btn btn-default', data: { dismiss: "modal" } %>
          <%= f.submit "Send message", class: "btn btn-primary" %>
        <% end %>
      </div><!-- modal footer end-->
    </div><!-- modal content end-->
  </div><!-- modal dialog end -->
</div><!-- modal end-->


