<div class="modal fade" id="<%= solo_or_team %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= close_button('modal') %>
        <h4 class="modal-title" id="myModalLabel">
          <% if solo_or_team == 'team' %>
            <i class="fa fa-users fa-lg"></i> Team project
          <% else %>
            <i class="fa fa-user fa-lg"></i> Solo project
          <% end %>
        </h4>
      </div><!-- modal header end -->
      <div class="modal-body">
        <%= form_for @project, html: { class: "form-horizontal", role: "form" } do |f| %>
          <div class="row">
            <div class="form-group">
              <%= f.label :title, class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description, class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_area :description, rows: 3, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :end_date, "End date", class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_field :end_date, class: "form-control", placeholder: "Select an estimated end-date.", id: "date_picker-#{solo_or_team}" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :github_url, "Github", class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_field :github_url, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :heroku_url, "Heroku" ,class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_field :heroku_url, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :image_url, "Image url" ,class: "col-sm-3 control-label" %>
              <div class="col-sm-8">
                <%= f.text_field :image_url, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :category_ids, "Categories", class: "col-sm-3 control-label" %><br>
              <div class="col-sm-8" style="margin-left: 3%;">
                <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                  <%= cb.label(class: "checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
                <% end %>
              </div>
            </div>
            

            <%= f.hidden_field :team, value: true if solo_or_team == 'team' %>
          </div>
      </div><!-- modal body end-->
      <div class="modal-footer"> 
        <%= button_tag "Close", class: 'btn btn-default', data: { dismiss: "modal" } %>
        <%= f.submit "Create a project", class: "btn btn-primary" %>
      </div><!-- modal footer end-->
        <% end %>
    </div><!-- modal content end-->
  </div><!-- modal dialog end -->
</div><!-- modal end-->