<tr>  
  <!-- Project name -->
  <td><%= project.project_name %></td>

  <td><p style="font-size: 16px;"><%= link_to "See this project", project_path(project), class: "label label-danger" %></p></td>
  <!-- Members -->
  <% project.users.each do |member| %>
  <td><%= member.username %></td>
  <% end %>

  <!-- Status -->
  <td><%= project.status %></td>

  <!-- Start-date -->
  <td><%= pretty_time(project.created_at) %></td>

  <!-- Estimated end-date -->
  <td><%= pretty_time(project.end_date) %></td>
</tr>


