<tr>
  <!-- Categories -->
  <td>
    <ul class="no-list">
      <%= render project.categories %>
    </ul>
  </td>

  <!-- Project name -->
  <td><%= project.project_name %></td>

  <!-- Link to a project -->
  <td>
    <p style="font-size: 16px;"><%= link_to "See this project", project_path(project), class: "label label-danger" %></p>
  </td>
  
  <!-- Members -->
  <td>
    <% project.users.each do |member| %>
      <%= member.username %>
    <% end %>
  </td>

  <!-- Status -->
  <td><%= project.status %></td>

  <!-- Start-date -->
  <td><%= pretty_time(project.created_at) %></td>

  <!-- Estimated end-date -->
  <td><%= pretty_time(project.end_date) %></td>
</tr>


