<tr>
  <!-- Categories -->
  <td>
    <%= render project.categories %>
  </td>

  <!-- Title -->
  <td>
    <p>
      <%= link_to project.title , project_path(project), class: "label label-danger" %>
    </p>
    <p>
      <% if project.users.include?(current_user) %>
        <%= link_to "link to management", management_project_path(project), class: "label label-danger" %>
      <% end %>      
    </p>
  </td>

  <!-- Members -->
  <td>
    <% project.users.each do |member| %>
      <%= link_to user_path(member), class: "badge" do %>
        <%= member.username %>
      <% end %>
    <% end %>
  </td>

  <!-- Solo/Team? -->
  <td>
    <% if project.team? %>
      Team
    <% else %>
      Solo
    <% end %>
  </td>

  <!-- Start-date -->
  <td><%= pretty_date(project.created_at) %></td>

  <!-- Estimated end-date -->
  <td><%= pretty_date(project.end_date) %></td>
</tr>


