<section class="wrapper">
  <%= render 'shared/content_title', title: "All Projects" %>

  <div class="errors"></div>
  
  <div role="tabpanel">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active" id="project-hiring">
        <%= link_to "Hiring", projects_path(tab: "hiring"), role: "tab", data: { toggle: "tab" }, remote: true %>
      </li>
      <li role="presentation" id="project-in-progress">
        <%= link_to "In Progress", projects_path(tab: "in-progress"), role: "tab", data: { toggle: "tab" }, remote: true %>
      </li>
      <li role="presentation" id="project-finished">
        <%= link_to "Finished", projects_path(tab: "finished"), role: "tab", data: { toggle: "tab" }, remote: true %>
      </li>
    </ul>
 
    <table class="table">
      <thead>
        <tr>
          <th>Like-it</th>
          <th>Project name</th>
          <th>Members</th>
          <th>Status</th>
          <th>Started at</th>
          <th>Finishing at</th>
        </tr>
      </thead>
      <tbody class="tab-content" id="all-projects">
        <%= render @projects %>
      </tbody>
    </table>
  </div>

</section>