<h1>New project</h1>
<%= render 'shared/errors', obj: @project %>

<%= form_for @project do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <br>
  
  <%= f.label :github_url %><br />
  <%= f.text_field :github_url %>
  <br>
  <br>
  <%= f.submit "Create Project" %>
<% end %>