<section class="wrapper">
  <%= render 'shared/content_title', title: "Choose one:" %>
  <div class='buttons'>
    <%= button_tag "Solo Project", class: "btn btn-primary btn-lg pull-left", data: { toggle: "modal", target: "#soloModal" } %>

    <%= button_tag "Team Project", class: "btn btn-primary btn-lg pull-right", data: { toggle: "modal", target: "#teamModal" } %>
    <div class="clearfix"></div>
  </div>
</section>

<%= render 'projects/modal_form', solo_or_team: 'solo' %>
<%= render 'projects/modal_form', solo_or_team: 'team' %>


<%= render 'shared/errors', obj: @project %>
