<div class="wrapper">
  <%= render 'shared/content_title', title: @project.title %>
  <p class="message-wrapper">
    <%= render @project.categories %>
  </p>

  <div class="row">
    <div class="col-sm-4">
      <div class="well">

        <dl class="row">
          <dt class="col-sm-4">Title</dt>
          <dd class="col-sm-8"><%= @project.title %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Description</dt>
          <dd class="col-sm-8"><%= @project.description %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Members</dt>
          <dd class="col-sm-8">
            <% @project.users.each do |member| %>
              <span><%= member.username %></span>
            <% end %>
          </dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Status</dt>
          <dd class="col-sm-8"><%= @project.status %></dd>
        </dl>

        <% if logged_in? && @project.hiring? %>
          <dl class="row">
            <dt class="col-sm-4">Wanna join?</dt>
            <dd class="col-sm-8">
              <%= button_tag :button, class: "label label-warning label-hire", data: { toggle: "modal", target: "#msg-hire-Modal"} { "Send message to manager" } %>
            </dd>
          </dl>
          <div class="modal fade" id="msg-hire-Modal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <%= close_button('modal') %>
                  <h4 class="modal-title" id="messageModalLabel">New message</h4>
                </div><!-- modal header end -->
                <div class="modal-body">

                  <%= form_for Message.new, html: { role: "form" } do |f| %>
                    <div class="form-group">
                      <%= f.label :recipient_id, "Recipient:", class: "control-label" %>            
                      <p class="form-control-static">
                        <span class="label label-primary"><%= @project.manager.username %></span>
                      </p>
                      <%= f.hidden_field :recipient_id, value: @project.manager.id %>
                    </div>

                    <div class="form-group">
                      <%= f.label :body, "Message:", class: "control-label" %>
                      <%= f.text_area :body, class: "form-control" %>
                    </div>

                </div><!-- modal body end-->
                <div class="modal-footer">
                    <%= button_tag "Close", class: 'btn btn-default', data: { dismiss: "modal" } %>
                    <%= f.submit "Send message", class: "btn btn-primary" %>
                  <% end %>
                </div><!-- modal footer end-->
              </div><!-- modal content end-->
            </div><!-- modal dialog end -->
          </div><!-- modal end-->
        <% end %>
        
        <dl class="row">
          <dt class="col-sm-4">Started on</dt>
          <dd class="col-sm-8"><%= pretty_date(@project.created_at) %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Finished on</dt>
          <dd class="col-sm-8"><%= pretty_date(@project.end_date) %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4"><i class="fa fa-github fa-lg"></i> GitHub</dt>
          <dd class="col-sm-8"><%= fix_url(@project.github_url) %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Heroku</dt>
          <dd class="col-sm-8"><%= fix_url(@project.heroku_url) %></dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-4">Popularity</dt>
          <dd class="col-sm-8" data-toggle="popover" data-placement="bottom" data-content="The most liked projects are visible on main page. <%= "You must be logged in order to like a project." if !logged_in? %>" id="likes">
            <% if logged_in? && @project.finished? %>
              <%= link_to like_project_path(@project), method: 'post', remote: true do %>
                <i class="fa fa-heart fa-lg"></i>
              <% end %>
            <% end %>
            <span id="project-<%= @project.id %>-likes">
              <%= pluralize(@project.likes_count, "like") %>
            </span>
          </dd>
        </dl>


        <% if logged_in? %>


          <% if @project.users.include?(current_user) %>
            <!-- Link for management -->
            <dl class="row">
              <dt class="col-sm-4">Management</dt>
              <dd class="col-sm-8"><%= link_to "here", management_project_path(@project) %></dd>
            </dl>
          <% end %>


          <hr>


          <!-- Comments form -->
          <dl class="row">
            <dd class="col-sm-12">
              <%= form_for [@project, Comment.new], remote: true, html: { role: 'form' } do |f| %>

                <div class="form-group">
                  <%= f.text_area :body, rows: 3, class: "form-control", placeholder: "Place your comments here.", id: "comment-body-form" %>
                </div>

                <%= f.submit "Add comment", class: "btn btn-primary form-control", role: "button" %>            
              <% end %>
            </dd>
          </dl>         

        <% end %>
      </div> <!-- well -->

    </div> <!-- col-sm-4 left side-->
    <div class="col-sm-8">
      <img src="<%= @project.image_url %>" alt="<%= @project.title %>" height="500" width="100%" style="border-radius: 5px;"/>
    </div> <!-- col-sm-8 right side-->
  </div>
  

  <div class="well">
    <h3 id="comments"><%= pluralize(@project.comments.size, "comment").capitalize %></h3>
    <div id="project-comments">
      <%= render @project.comments %>
    </div>
  </div>
</div>



