<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
  
  <!-- Github fork -->
  <%= link_to "https://github.com/frenzy277/project-it" do %>
    <%= image_tag "http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png", class: "fork_github", alt: "Fork me on GitHub" %>
  <% end %>
  
  <div class="container">
    <div class="navbar-header">
      <span class="logo">
        <%= link_to '#', class: "navbar-brand" do %>
          <i class="fa fa-magic" style="font-size: 33px;"></i> Project-it!
        <% end %>
      </span>
    </div>
    <div class="navbar-left">
      <ul class='nav navbar-nav'>
        <li>
          <%= link_to "http://www.gotealeaf.com" do %>
            <%= tealeaf %>
          <% end %>
        </li>
        <li><%= link_to "Favorite Projects", "/#myCarousel" %></li>
      </ul>
    </div>

    <!-- Sign in dropdown button and form -->
    <div class="navbar-right" id="navbar" role="nav">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <%= render 'sessions/logged_in' %>
        <% else %>
          <%= render 'sessions/signin' %>
        <% end %>
      </ul>
    </div><!-- end of sign in -->
  </div> 
</nav>


