<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Project-it</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="topper"></div>
  <%= render 'layouts/top_nav' %>

  <div class="container">
    <%= render 'layouts/flash_messages' %>
  </div>
  <% if params[:controller] == 'static_pages' && params[:action] == 'home' %>
    <%= render 'static_pages/jumbotron' %>
    <%= render 'static_pages/marketing' %>
    <%= render 'static_pages/carousel' %>
  <% end %>
  

  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
